.page-content {
    display: flex;
    justify-content: flex-end;
}

.page-style {
    background-color: rgb(41, 41, 41);
    position: fixed;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 0.4s;
}

.exit-button {
    border: none;
    background-color: transparent;
    color: rgb(177, 177, 177);
}

.exit-path {
    display: flex;
    justify-content: flex-end;
}

.profile-path {
    display: flex;
    align-items: center;
    color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230, 0.5);
    padding: 5px;
}

.profile-path a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.profile-path a:hover {
    color: white;
    transition-duration: 0.6s;
}