.article {
    width: 100%;
    padding: 10px;
}

.article img {
    width: 350px;
    margin: 5px;
}

.article h3 {
    color: 	rgb(0, 51, 102);
    margin: 5px;
}

.description {
    text-align: justify;
    margin: 5px;
}

.time {
    color: gray;
}

.article a {
    text-decoration: none;
    color: rgb(59, 153, 214);
    justify-self: flex-end;
}

.article a:hover {
    text-decoration: underline;
}

.box {
    display: flex;
    justify-content: center;
}

.link-to-article {
    text-decoration: none;
    color: rgb(0, 51, 102);
    margin: 5px;
}

.search-filter {
    width: 500px;
    height: 40px;
    align-self: center;
}

.date {
    display: flex;
    align-content: center;
    margin-left: 10px;
}