.align {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 350px;
}

@media screen and (min-width: 800px) {
    .align {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .container {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-gap: 10px 20px;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 10px 20px;
    }
}