.formular {
    display: flex;
    justify-content: center;
}

.error {
    border: 1px solid rgb(118, 46, 64);
    background-color: rgb(248, 215, 218);
}

.register-input {
    border: 1px solid #ced4da;
    border-radius: 2px;

    width: 200px;
    height: 30px;
    margin: 4px;
}

.form-cls {
    display: flex;
    flex-direction: column;
}

.submit-button {
    padding: 8px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    width: 100px;
    margin: 10px;
    align-self: flex-end;
}

.invalid-feedback {
    color: #822424;
    font-family: arial;
    font-size: 12px;
    font-style: oblique;
}

.global-error {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(248, 215, 218);
    color: rgb(143, 43, 45);
}

.global-success {
    padding: 10px;
    margin: 10px;
    background-color: rgb(212, 237, 218);
    color: rgb(54, 100, 46);
    border-radius: 4px;
    text-align: center;
}

@media screen and (min-width: 700px)  {
    .submit-button:hover {
        opacity: 80%;
        transition-duration: 0.6s;
    }

    .invalid-feedback {
        font-size: 14px;
    }

    .register-input {
        width: 400px;
        height: 40px;
        margin: 4px;
    }
}